html{
	overflow-y: hidden;
}
		#div1{
			height: 180px;
    width: 100%;
    background-color: #ff4da6;
    margin-bottom: 10px;
		}
	
		#div2{
			display: flex;}
			#div3{
			height:350px;
			width: 70%;
			margin-right: 10px;
			background-color: #ff037e;
		}
		#div4{
			height:350px;
			width: 30%;
			background-color: #ce0468;
	}
	#div5{

			height: 180px;
    width: 100%;
    background-color: #802755;
    margin-top: 10px;
		}